.page {
  width: auto;
  margin: 0 5vw 0 5vw;

  font-family: "Open Sans";

  text-align: justify;
}

h1 {
  font-size: 4em;
  margin: 0 0.5em 0.5em 0;
}

h2 {
  font-size: 3em;
  margin: 0 0.5em 0.5em 0;
}

h3 {
  font-size: 2em;
  margin: 0 0.5em 0.5em 0;
}

p {
  text-align: justify;
  padding: 15px;
  margin: 0;
}

li {
  margin: 0 0 4vw 0;
}

.resume {
  width: 40vw;

  margin: 0 auto 5vw auto;
}

.quote {
  background: #e9e9e9;
  border-left: 10px solid #aaa;
  margin: 0 10px;
  padding: 0.5em 10px;
  display: flex;
}

.p-quote {
  background: #d9d9ff;
  border-left: 10px solid #aaf;
  margin: 0em 10px;
  padding: 0.5em 10px;
  display: flex;
}

.i-quote {
  background: #ffd9d9;
  border-left: 10px solid #f33;
  margin: 0em 10px;
  padding: 0.5em 10px;
  display: flex;
}

canvas {
  min-width: 100%;
  min-height: 300px;
}

.canvas-content {
  display: inline-block;
  width: 310px;
  height: 310px;
  border: 1px solid #000;
  padding: 5px;
}

.canvas-content button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  width: 49%;
}

.canvas-content button:hover {
  background-color: #d8d8d8;
}

.navigation {
  text-align: center;
  padding: 5px;
}

.navigation a {
  color: #000;
  text-decoration: none;
  margin: 15px;
  font-size: 1.5em;
}

.navigation a:hover {
  color: #3599ee;
}

.left {
  float: left;
  margin: 0 10px 10px 0;
}

.right {
  float: right;
  margin: 10px 0 10px 10px;
}

.center {
  text-align: center;
}